<?xml version="1.0" encoding="UTF-8"?>
<systems>
  <Prod>
    <SystemRoot>D:\Easit\Systems\Prod</SystemRoot>
    <ServiceName>EasitProd</ServiceName>
    <EasitRoot>D:\Easit</EasitRoot>
    <BackupRoot>D:\Easit\_Backup\Prod</BackupRoot>
    <TomcatRoot>D:\Easit\Tomcat\Prod</TomcatRoot>
    <EmailRequestRoot>D:\Easit\EmailRequest</EmailRequestRoot>
    <ImportClientRoot>D:\Easit\ImportClient</ImportClientRoot>
  </Prod>
  <Test>
    <SystemRoot>D:\Easit\Systems2\Test</SystemRoot>
    <ServiceName>EasitTest</ServiceName>
    <EasitRoot>D:\Easit</EasitRoot>
    <BackupRoot>C:\Easit\_Backup2\Test</BackupRoot>
    <TomcatRoot>D:\Easit\Tomcat\Test</TomcatRoot>
    <EmailRequestRoot>D:\Easit\Tomcat\Test</EmailRequestRoot>
    <ImportClientRoot>D:\Easit\Tomcat\Test</ImportClientRoot>
  </Test>
  <Dev>
    <SystemRoot>D:\Easit\Systems\Dev</SystemRoot>
    <ServiceName>EasitDev</ServiceName>
    <EasitRoot>D:\Easit</EasitRoot>
    <BackupRoot>C:\Easit\_Backup2\Dev</BackupRoot>
    <TomcatRoot>D:\Easit\Tomcat\Dev</TomcatRoot>
    <EmailRequestRoot>D:\Easit\Tomcat\Dev</EmailRequestRoot>
    <ImportClientRoot>D:\Easit\Tomcat\Dev</ImportClientRoot>
  </Dev>
</systems>